# Config and Htaccess Files
.htaccess
config.php
admin/config.php

# Image File
!image/no_image.jpg

# Image Cache Files
image/cache/*
!image/cache/index.html

image/catalog/*
!image/catalog/index.html

# System Cache Files
system/storage/cache/*
!system/storage/cache/index.html

# Modification Files
system/storage/modification/*
!system/storage/modification/index.html

# Templates Files
image/templates/*
image/templates/default.jpg



# Flags 
# remove sharp char if you want to add flags to gitignore
# /upload/flags/*

# Log Files
system/storage/logs/*
!system/storage/logs/index.html

# If you want to ignore install file use following lines [on development mode]
# /upload/backup.install/*
# /upload/install/*

# Ignore all vendor files included by composer and the lock file

# IDE Project files
.idea

